*{
  /* ªì©l¤Æ ¨ú®ø­¶­±ªº¤º¥~Ãä¶Z */
  padding: 0;
  margin: 0;
}

body {
  /* ¼u©Ê¥¬§½ Åı­¶­±¤¸¯À¤ô¥­ */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Åı­¶­±©l²×¦û³sÄı¾¹Á`°ª */
  height: 100vh;
  background-color: black;
  /* µø¶Z Åı¤¸¯À¬İş¨Ó§ó¹³3D */
  perspective: 2000px;

}

section {
  /* ¬Û¹ï©w¦ì */
  position:fixed;
  width: 500px;
  height: 200px;
  /* ¹«¼Ğ©ñ¨ì·Ó¤ùÅÜ¦¨¤p¤â */
  cursor: pointer;

  /* Åı¤l¤¸¯À«O¯d3D¦ì¸m */
  transform-style: preserve-3d;
  animation: rotate 7s ease-in-out infinite;
  right: 200px;
  bottom: 200px;
}

section div {
  /* µ´¹ï©w¦ì */
  position: absolute;
  left: 100;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /* ³]¸m¤¸¯Àªº­Ë¼v®ÄªG below ¬O­Ë¼v®ÄªG¦b¤¸¯À¤U¤è15px */
  -webkit-box-reflect: below 0px
  -webkit-linear-gradient(transparent 10%, rgba(255,255,255,0.3));
}

section div:nth-child(1){
  transform: translateZ(250px);
}

section div:nth-child(2){
  transform: rotateY(60deg) translateZ(250px);
}

section div:nth-child(3){
  transform: rotateY(120deg) translateZ(250px);
}

section div:nth-child(4){
   transform: rotateY(180deg) translateZ(250px);
}

section div:nth-child(5){
  transform: rotateY(240deg) translateZ(250px);
}

section div:nth-child(6){
  transform: rotateY(300deg) translateZ(250px);
}

/* ©w¸q±ÛÂà°Êµe */
@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

img {
  width: 200px;
}